{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Salesforce plugin for Craft CMS 3.x
 *
 * Salesforce Settings.twig
 *
 * @author    Craig Roy
 * @copyright Copyright (c) 2020 Craig Roy
 * @link      http://croy.solutions/
 * @package   Salesforce
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("croy37\\salesforce\\assetbundles\\salesforce\\SalesforceAsset") %}

{{ forms.textField({
    label: 'Account ID',
    instructions: 'Salesforce Account ID',
    id: 'salesforceAccountId',
    name: 'salesforceAccountId',
    suggestEnvVars: true,
    value: settings['salesforceAccountId']})
}}
